<!-- <h1>Hello world</h1>

<button (click)="sum(10,30)"> click me</button> -->
<!-- <app-counter></app-counter>
<app-event-handling></app-event-handling> -->
<!-- <app-get-set></app-get-set> -->
<!-- <app-style-rules></app-style-rules> -->
<!-- {{title}} -->
<!-- <app-elseif></app-elseif> -->
<!-- 
<app-signal></app-signal> -->

<!-- <app-effect></app-effect> -->

<!-- <app-for-loop></app-for-loop> -->
<!-- 
<app-two-way></app-two-way> -->

<!-- <app-directives></app-directives> -->
<!-- <app-routing></app-routing> -->
 <!-- <app-reactive-form></app-reactive-form> -->
  <!-- <app-form-grouping></app-form-grouping> -->
   <!-- <app-template-forms></app-template-forms> -->
    <!-- <h1>Pass Data to child component</h1>
    <app-client [user]="selectedUser.value" city="hyd"></app-client>
  
    <select #selectedUser (change) ="onUserChange(selectedUser.value)" name="Select name" id="">
      <option value="Anil">Anil</option>
      <option value="Sam">Sam</option>
      <option value="Tony">Tony</option>
    </select>

 -->
<!-- 
<app-reuse></app-reuse> -->
<!-- <app-business></app-business> -->

<!-- 
<app-header></app-header> -->
<!-- <app-dynamic-style></app-dynamic-style> -->

<!-- <app-to-do></app-to-do> -->
<!-- this is called  interpolation -->
<!-- <h1>{{2+2}}</h1> -->

<!-- we can do direct js code in double curly braces -->

<!-- we use interpolation to display data from ts to html file -->

<!-- only the data from the ts file with respect to this component can be used for this -->

<app-lifecycle></app-lifecycle>

<!-- <h2>{{user1}}</h2>

<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile> -->
<!-- 
even if give the selector of component as div it still works  -->

<!-- selector of the login component ts file is used here -->

<!-- increments,decrements for loop are not possible -->

<!-- 
    ANGULAR CLI:
    helps developers create build,test ,deploy angular applications
     -->

<!-- 
     Angular Components
     to generate ne component : ng generate component <name> 
        there are 2 types of components :1.Normal and inline
      -->

<!-- <h1>Custom pipes in Angular</h1>
<h2>{{amount | currencyConverter}}</h2>
<h2>{{amount | currencyConverter:12}}</h2> -->

